
lila008 Add file/Create new file. Имя нlila008-9672413.github.io/dem.github.ioовому файлу - style.css:
body{
	background-color: #d2b48c;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans serif;
    }Create new file. Имя нlila008
